// utilities
.title {
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 40px;
  @include pad {
    font-size: 32px;
    line-height: 48px;
  }
  @include mobile {
    font-size: 24px;
    margin-bottom: 28px;
  }
}

.section-spacing {
  padding-top: 60px;
  padding-bottom: 80px;
  @include pad {
    padding-top: 40px;
    padding-bottom: 56px;
  }
  @include mobile {
    padding-top: 32px;
    padding-bottom: 40px;
  }
}

// banner
.bannerHome {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
  height: 840px;
  @include pad {
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true);
  }
  @include mobile {
    height: 394px;
  }

  h2 {
    font-size: 64px;
    line-height: 96px;
    font-weight: bold;
    @include pad {
      font-size: 48px;
      line-height: 72px;
    }
    @include mobile {
      font-size: 32px;
    }
  }
  span {
    font-size: 36px;
    line-height: 54px;
    font-weight: normal;
    @include pad {
      font-size: 20px;
      line-height: 30px;
    }
    @include mobile {
      font-size: 16px;
    }
  }
}

// service
.list {
  &__item {
    width: 23%;
    @include pad {
      width: 40%;
    }
    @include mobile {
      width: 100%;
    }
  }
  img {
    width: 83px;
    height: 83px;
    margin: 0 auto;
  }
}

// classic
.classic {
  position: relative;
  @include pad {
    flex-direction: row;
  }
  &__img {
    width: 60%;
    @include mobile {
      width: 100%;
    }
  }
  &__title {
    width: 33%;
    i {
      margin-right: 8px;
    }
    font-size: 48px;
    line-height: 72px;
    font-style: italic;
    @include pad {
      font-size: 28px;
    }
    @include mobile {
      position: absolute;
      left: 50%;
      margin-left: -90px;
    }
  }
}

// design
.bg-design {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true);
  background-size: cover;
  background-position: center center;
}

.designArea {
  cursor: grabbing;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  width: 50%;
  &:hover::before {
    opacity: 0;

  }
  @include mobile {
    width: 100%;
  }
  img {
    @include size(540px, 455px);
    @include pad {
      @include size(330px, 278px);
    }
    @include mobile {
      @include size(345px, 291px);
    }
  }
  &::before {
    transition: all .3s ease;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: 15px;
    margin-left: 15px;
    content: "";
    background-color: #fff;
    opacity: 0.5;
  }

  &__text {
    position: absolute;
    font-size: 72px;
    line-height: 108px;
    @include pad {
      font-size: 32px;
      line-height: 25px;
    }
    &--left {
      top: 181px;
      left: 104px;
      @include pad {
        top: 118px;
        left: 91px;
      }
      @include mobile {
        top: 125px;
        left: 75px;
      }
    }
    &--right {
      top: 181px;
      left: 152px;
      @include pad {
        top: 118px;
        left: 112px;
      }
      @include mobile {
        top: 130px;
        left: 90px;
      }
    }
  }
}

// card

.card {
  box-shadow: 0 2px 6px $light;
  margin-right: -15px;
  margin-left: -15px;
  width: 255px;
  transition: all .3s ease;
  &:hover {
    box-shadow: 8px 8px 6px $light;
    .card__img {
      transform: scale(1.2);
    }
  }
  @include pad {
    width: 330px;
  }
  @include mobile {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.card__img {
  transition: all .3s ease;
  width: 255px;
  height: 256px;
  @include pad {
    width: 330px;
  }
  @include mobile {
    width: 345px;
  }
}


.card__body {
  padding: 16px;
  border: 2px solid $info;
  display: flex;
  flex-direction: column;
  height: 204px;
  @include pad {
    padding: 16px 24px;
  }
}

.card__title {
  line-height: 24px;
}

.card__text {
  line-height: 24px;
}

.form-container {
  max-width: 730px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  @include mobile {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.form__text {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  @include pad {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  @include mobile {
    margin-bottom: 8px;
  }
}

// form
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;
  @include pad {
    margin-bottom: 8px;
  }
  
  textarea {
    height: 136px;
  };

  .form-control {
    background-color: $success;
    padding: 10px 16px;
    line-height: 24px;
    border: 1px solid $black;
    @include pad {
      font-size: 14px;
    }
    &:focus-visible {
      outline: 3px solid rgba(170, 6, 1, .7);
    }
  }
}

label {
  margin-bottom: 4px;
  line-height: 21px;
  @include pad {
    font-size: 14px;
    margin-bottom: 3px;
  }
}

.btn {
  transition: background .5s ease-in-out;
  background-color: $secondary;
  border: none;
  line-height: 24px;
  padding: 16px 143px;
  margin-top: 40px;
  @include pad {
    margin-top: 20px;
    font-size: 14px;
    line-height: 21px;
    padding: 10px 77px;
  }
  @include mobile {
    padding: 8px 54px;
  }
  &:hover {
    background-color: $primary; 
  }
}

