
.container {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
  @include pad {
    max-width: 690px;
  }
  @include mobile {
    max-width: 345px;
  }
}


// ! flex
.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
  @include mobile {
    flex-wrap: wrap;
  };
}