.nav {
  padding: 0 88px;
  @include pad {
    padding: 0 39px;
  }
  @include mobile {
    flex-wrap: wrap;
    padding: 0;
  }

  .logo {
    padding: 30px 0;
    @include mobile {
      width: 100%;
      padding: 10px 0;
    }
    a {
      margin: 0 auto;
      display: block;
      background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true") no-repeat;
      @include size(80px, 48.75px);
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &__list {
    @include mobile {
      width: 100%;
      flex-wrap: wrap;
    }
    li {
      &:first-of-type a {
        padding-left: 0;
      }
      &:hover a {
        color: $warning;
      }
      @include mobile {
        border: 1px solid $white;
        width: 50%;
        &:hover {
          background-color: $white;
          a {
            color: $primary;
          }
        }
      }
      a {
        transition: all 0.3s ease;
        display: block;
        padding-left: 64px;
        text-align: center;
        @include pad {
          padding-left: 39px;
        }
        @include mobile {
          padding: 8px 0;
        }
      }
    }
  }
}

.footer {
  padding-top: 24px;
  padding-bottom: 39px;
  @include pad {
    padding-top: 38px;
    padding-bottom: 32px;
  }
  @include mobile {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .info {
    width: 80%;

    .menu {
      margin-bottom: 36px;
      @include pad {
        margin-bottom: 22px;
      }
      @include mobile {
        display: none;
      }
      &__item {
        &:hover a {
          color: $warning;
        }
        a {
          transition: all .3s ease;
          display: block;
          padding-right: 48px;
          padding-top: 5px;
          padding-bottom: 5px;
          @include pad {
            padding-right: 40px;
          }
        }
      }
    }

    .contact {
      img {
        @include size(36px, 36px);
        margin-right: 22px;
        @include pad {
          @include size(18px, 18px);
          margin-right: 11px;
        }
        @include mobile {
          @include size(15px, 15px);
          margin-right: 4px;
        }
      }

      a {
        transition: all .3s ease;
        font-size: 36px;
        line-height: 54px;
        @include pad {
          line-height: 30px;
          font-size: 20px;
        }
        @include pad {
          line-height: 30px;
          font-size: 16px;
        }
        &:hover {
          color: $warning;
        }
      }
    }
  }

  .socialIcon li {
    margin-left: 32px;
    width: 20%;
    @include pad {
      margin-left: 24px;
      &:first-of-type {
        margin-left: 0;
      }
    }
    img {
      transition: all .3s ease;
      @include size(48px, 48px);
      @include pad {
        @include size(24px, 24px);
      }
    }
    &:hover img {
      transform: scale(1.2);
    }
  }

  hr {
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .copyRight {
    @include mobile {
      width: 100%;
      font-size: 14px;
      margin-bottom: 8px;
    }
  }
  .terms {
    li {
      margin-left: 48px;
      @include pad {
        margin-left: 24px;
      }
      @include mobile {
        width: 100%;
        margin-bottom: 8px;
        margin-left: 0;
      }
    }
  }
}
