@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
.bg-primary {
  background-color: #650300; }

.bg-secondary {
  background-color: #AA0601; }

.bg-success {
  background-color: #AA06010D; }

.bg-info {
  background-color: #DEE2E6; }

.bg-warning {
  background-color: #ffc107; }

.bg-light {
  background-color: #00000029; }

.bg-dark {
  background-color: #212529; }

.bg-muted {
  background-color: #707070; }

.bg-black {
  background-color: #000; }

.bg-white {
  background-color: #fff; }

.bg-borderColor {
  background-color: #dcdc; }

.bg-paginationColor {
  background-color: #555555; }

.bg-productColor1 {
  background-color: #5F3E2D; }

.bg-productColor2 {
  background-color: #B75929; }

.text-primary {
  color: #650300; }

.text-secondary {
  color: #AA0601; }

.text-success {
  color: #AA06010D; }

.text-info {
  color: #DEE2E6; }

.text-warning {
  color: #ffc107; }

.text-light {
  color: #00000029; }

.text-dark {
  color: #212529; }

.text-muted {
  color: #707070; }

.text-black {
  color: #000; }

.text-white {
  color: #fff; }

.text-borderColor {
  color: #dcdc; }

.text-paginationColor {
  color: #555555; }

.text-productColor1 {
  color: #5F3E2D; }

.text-productColor2 {
  color: #B75929; }

.h1 {
  font-size: 4rem; }

.h2 {
  font-size: 3rem; }

.h3 {
  font-size: 2.25rem; }

.h4 {
  font-size: 1.5rem; }

.h5 {
  font-size: 1.25rem; }

.h6 {
  font-size: 1rem; }

.lh-1 {
  line-height: 1.5; }

.lh-2 {
  line-height: 1.25; }

.lh-3 {
  line-height: 2.25; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 16px;
  font-family: 'Noto Sans', 'Roboto', sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  color: #fff; }

.container {
  max-width: 1110px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .container {
      max-width: 690px; } }
  @media (max-width: 414px) {
    .container {
      max-width: 345px; } }

.text-end {
  text-align: right; }

.text-center {
  text-align: center; }

.fw-bold {
  font-weight: bold; }

.d-block {
  display: block; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.mb-auto {
  margin-bottom: auto; }

.ms-auto {
  margin-left: auto; }

.p-0 {
  padding: 0; }

.pt-0 {
  padding-top: 0; }

.pb-0 {
  padding-bottom: 0; }

.ps-0 {
  padding-left: 0; }

.pe-0 {
  padding-right: 0; }

.px-0 {
  padding-left: 0;
  padding-right: 0; }

.py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.m-0 {
  margin: 0; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.ms-0 {
  margin-left: 0; }

.me-0 {
  margin-right: 0; }

.mx-0 {
  margin-right: 0;
  margin-left: 0; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.p-1 {
  padding: 0.5rem; }

.pt-1 {
  padding-top: 0.5rem; }

.pb-1 {
  padding-bottom: 0.5rem; }

.ps-1 {
  padding-left: 0.5rem; }

.pe-1 {
  padding-right: 0.5rem; }

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.m-1 {
  margin: 0.5rem; }

.mt-1 {
  margin-top: 0.5rem; }

.mb-1 {
  margin-bottom: 0.5rem; }

.ms-1 {
  margin-left: 0.5rem; }

.me-1 {
  margin-right: 0.5rem; }

.mx-1 {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.p-2 {
  padding: 1rem; }

.pt-2 {
  padding-top: 1rem; }

.pb-2 {
  padding-bottom: 1rem; }

.ps-2 {
  padding-left: 1rem; }

.pe-2 {
  padding-right: 1rem; }

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem; }

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.m-2 {
  margin: 1rem; }

.mt-2 {
  margin-top: 1rem; }

.mb-2 {
  margin-bottom: 1rem; }

.ms-2 {
  margin-left: 1rem; }

.me-2 {
  margin-right: 1rem; }

.mx-2 {
  margin-right: 1rem;
  margin-left: 1rem; }

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.p-3 {
  padding: 1.25rem; }

.pt-3 {
  padding-top: 1.25rem; }

.pb-3 {
  padding-bottom: 1.25rem; }

.ps-3 {
  padding-left: 1.25rem; }

.pe-3 {
  padding-right: 1.25rem; }

.px-3 {
  padding-left: 1.25rem;
  padding-right: 1.25rem; }

.py-3 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }

.m-3 {
  margin: 1.25rem; }

.mt-3 {
  margin-top: 1.25rem; }

.mb-3 {
  margin-bottom: 1.25rem; }

.ms-3 {
  margin-left: 1.25rem; }

.me-3 {
  margin-right: 1.25rem; }

.mx-3 {
  margin-right: 1.25rem;
  margin-left: 1.25rem; }

.my-3 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem; }

.p-4 {
  padding: 1.5rem; }

.pt-4 {
  padding-top: 1.5rem; }

.pb-4 {
  padding-bottom: 1.5rem; }

.ps-4 {
  padding-left: 1.5rem; }

.pe-4 {
  padding-right: 1.5rem; }

.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.m-4 {
  margin: 1.5rem; }

.mt-4 {
  margin-top: 1.5rem; }

.mb-4 {
  margin-bottom: 1.5rem; }

.ms-4 {
  margin-left: 1.5rem; }

.me-4 {
  margin-right: 1.5rem; }

.mx-4 {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.p-5 {
  padding: 1.85rem; }

.pt-5 {
  padding-top: 1.85rem; }

.pb-5 {
  padding-bottom: 1.85rem; }

.ps-5 {
  padding-left: 1.85rem; }

.pe-5 {
  padding-right: 1.85rem; }

.px-5 {
  padding-left: 1.85rem;
  padding-right: 1.85rem; }

.py-5 {
  padding-top: 1.85rem;
  padding-bottom: 1.85rem; }

.m-5 {
  margin: 1.85rem; }

.mt-5 {
  margin-top: 1.85rem; }

.mb-5 {
  margin-bottom: 1.85rem; }

.ms-5 {
  margin-left: 1.85rem; }

.me-5 {
  margin-right: 1.85rem; }

.mx-5 {
  margin-right: 1.85rem;
  margin-left: 1.85rem; }

.my-5 {
  margin-top: 1.85rem;
  margin-bottom: 1.85rem; }

.p-6 {
  padding: 2rem; }

.pt-6 {
  padding-top: 2rem; }

.pb-6 {
  padding-bottom: 2rem; }

.ps-6 {
  padding-left: 2rem; }

.pe-6 {
  padding-right: 2rem; }

.px-6 {
  padding-left: 2rem;
  padding-right: 2rem; }

.py-6 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.m-6 {
  margin: 2rem; }

.mt-6 {
  margin-top: 2rem; }

.mb-6 {
  margin-bottom: 2rem; }

.ms-6 {
  margin-left: 2rem; }

.me-6 {
  margin-right: 2rem; }

.mx-6 {
  margin-right: 2rem;
  margin-left: 2rem; }

.my-6 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.p-7 {
  padding: 2.5rem; }

.pt-7 {
  padding-top: 2.5rem; }

.pb-7 {
  padding-bottom: 2.5rem; }

.ps-7 {
  padding-left: 2.5rem; }

.pe-7 {
  padding-right: 2.5rem; }

.px-7 {
  padding-left: 2.5rem;
  padding-right: 2.5rem; }

.py-7 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

.m-7 {
  margin: 2.5rem; }

.mt-7 {
  margin-top: 2.5rem; }

.mb-7 {
  margin-bottom: 2.5rem; }

.ms-7 {
  margin-left: 2.5rem; }

.me-7 {
  margin-right: 2.5rem; }

.mx-7 {
  margin-right: 2.5rem;
  margin-left: 2.5rem; }

.my-7 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

.p-8 {
  padding: 3rem; }

.pt-8 {
  padding-top: 3rem; }

.pb-8 {
  padding-bottom: 3rem; }

.ps-8 {
  padding-left: 3rem; }

.pe-8 {
  padding-right: 3rem; }

.px-8 {
  padding-left: 3rem;
  padding-right: 3rem; }

.py-8 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.m-8 {
  margin: 3rem; }

.mt-8 {
  margin-top: 3rem; }

.mb-8 {
  margin-bottom: 3rem; }

.ms-8 {
  margin-left: 3rem; }

.me-8 {
  margin-right: 3rem; }

.mx-8 {
  margin-right: 3rem;
  margin-left: 3rem; }

.my-8 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.p-9 {
  padding: 3.15rem; }

.pt-9 {
  padding-top: 3.15rem; }

.pb-9 {
  padding-bottom: 3.15rem; }

.ps-9 {
  padding-left: 3.15rem; }

.pe-9 {
  padding-right: 3.15rem; }

.px-9 {
  padding-left: 3.15rem;
  padding-right: 3.15rem; }

.py-9 {
  padding-top: 3.15rem;
  padding-bottom: 3.15rem; }

.m-9 {
  margin: 3.15rem; }

.mt-9 {
  margin-top: 3.15rem; }

.mb-9 {
  margin-bottom: 3.15rem; }

.ms-9 {
  margin-left: 3.15rem; }

.me-9 {
  margin-right: 3.15rem; }

.mx-9 {
  margin-right: 3.15rem;
  margin-left: 3.15rem; }

.my-9 {
  margin-top: 3.15rem;
  margin-bottom: 3.15rem; }

.p-10 {
  padding: 3.75rem; }

.pt-10 {
  padding-top: 3.75rem; }

.pb-10 {
  padding-bottom: 3.75rem; }

.ps-10 {
  padding-left: 3.75rem; }

.pe-10 {
  padding-right: 3.75rem; }

.px-10 {
  padding-left: 3.75rem;
  padding-right: 3.75rem; }

.py-10 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem; }

.m-10 {
  margin: 3.75rem; }

.mt-10 {
  margin-top: 3.75rem; }

.mb-10 {
  margin-bottom: 3.75rem; }

.ms-10 {
  margin-left: 3.75rem; }

.me-10 {
  margin-right: 3.75rem; }

.mx-10 {
  margin-right: 3.75rem;
  margin-left: 3.75rem; }

.my-10 {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem; }

.p-11 {
  padding: 3.74rem; }

.pt-11 {
  padding-top: 3.74rem; }

.pb-11 {
  padding-bottom: 3.74rem; }

.ps-11 {
  padding-left: 3.74rem; }

.pe-11 {
  padding-right: 3.74rem; }

.px-11 {
  padding-left: 3.74rem;
  padding-right: 3.74rem; }

.py-11 {
  padding-top: 3.74rem;
  padding-bottom: 3.74rem; }

.m-11 {
  margin: 3.74rem; }

.mt-11 {
  margin-top: 3.74rem; }

.mb-11 {
  margin-bottom: 3.74rem; }

.ms-11 {
  margin-left: 3.74rem; }

.me-11 {
  margin-right: 3.74rem; }

.mx-11 {
  margin-right: 3.74rem;
  margin-left: 3.74rem; }

.my-11 {
  margin-top: 3.74rem;
  margin-bottom: 3.74rem; }

.p-12 {
  padding: 5rem; }

.pt-12 {
  padding-top: 5rem; }

.pb-12 {
  padding-bottom: 5rem; }

.ps-12 {
  padding-left: 5rem; }

.pe-12 {
  padding-right: 5rem; }

.px-12 {
  padding-left: 5rem;
  padding-right: 5rem; }

.py-12 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.m-12 {
  margin: 5rem; }

.mt-12 {
  margin-top: 5rem; }

.mb-12 {
  margin-bottom: 5rem; }

.ms-12 {
  margin-left: 5rem; }

.me-12 {
  margin-right: 5rem; }

.mx-12 {
  margin-right: 5rem;
  margin-left: 5rem; }

.my-12 {
  margin-top: 5rem;
  margin-bottom: 5rem; }

.p-13 {
  padding: 6rem; }

.pt-13 {
  padding-top: 6rem; }

.pb-13 {
  padding-bottom: 6rem; }

.ps-13 {
  padding-left: 6rem; }

.pe-13 {
  padding-right: 6rem; }

.px-13 {
  padding-left: 6rem;
  padding-right: 6rem; }

.py-13 {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.m-13 {
  margin: 6rem; }

.mt-13 {
  margin-top: 6rem; }

.mb-13 {
  margin-bottom: 6rem; }

.ms-13 {
  margin-left: 6rem; }

.me-13 {
  margin-right: 6rem; }

.mx-13 {
  margin-right: 6rem;
  margin-left: 6rem; }

.my-13 {
  margin-top: 6rem;
  margin-bottom: 6rem; }

.w-100 {
  width: 100%; }

.position-relative {
  position: relative; }

.overflow-hidden {
  overflow: hidden; }

@media (max-width: 768px) {
  .mb-md-0 {
    margin-bottom: 0; }
  .p-md-0 {
    padding: 0; }
  .pt-md-0 {
    padding-top: 0; }
  .pb-md-0 {
    padding-bottom: 0; }
  .ps-md-0 {
    padding-left: 0; }
  .pe-md-0 {
    padding-right: 0; }
  .px-md-0 {
    padding-left: 0;
    padding-right: 0; }
  .py-md-0 {
    padding-top: 0;
    padding-bottom: 0; }
  .m-md-0 {
    margin: 0; }
  .mt-md-0 {
    margin-top: 0; }
  .mb-md-0 {
    margin-bottom: 0; }
  .ms-md-0 {
    margin-left: 0; }
  .me-md-0 {
    margin-right: 0; }
  .mx-md-0 {
    margin-right: 0;
    margin-left: 0; }
  .my-md-0 {
    margin-top: 0;
    margin-bottom: 0; }
  .p-md-1 {
    padding: 0.5rem; }
  .pt-md-1 {
    padding-top: 0.5rem; }
  .pb-md-1 {
    padding-bottom: 0.5rem; }
  .ps-md-1 {
    padding-left: 0.5rem; }
  .pe-md-1 {
    padding-right: 0.5rem; }
  .px-md-1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .py-md-1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .m-md-1 {
    margin: 0.5rem; }
  .mt-md-1 {
    margin-top: 0.5rem; }
  .mb-md-1 {
    margin-bottom: 0.5rem; }
  .ms-md-1 {
    margin-left: 0.5rem; }
  .me-md-1 {
    margin-right: 0.5rem; }
  .mx-md-1 {
    margin-right: 0.5rem;
    margin-left: 0.5rem; }
  .my-md-1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  .p-md-2 {
    padding: 1rem; }
  .pt-md-2 {
    padding-top: 1rem; }
  .pb-md-2 {
    padding-bottom: 1rem; }
  .ps-md-2 {
    padding-left: 1rem; }
  .pe-md-2 {
    padding-right: 1rem; }
  .px-md-2 {
    padding-left: 1rem;
    padding-right: 1rem; }
  .py-md-2 {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .m-md-2 {
    margin: 1rem; }
  .mt-md-2 {
    margin-top: 1rem; }
  .mb-md-2 {
    margin-bottom: 1rem; }
  .ms-md-2 {
    margin-left: 1rem; }
  .me-md-2 {
    margin-right: 1rem; }
  .mx-md-2 {
    margin-right: 1rem;
    margin-left: 1rem; }
  .my-md-2 {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .p-md-3 {
    padding: 1.25rem; }
  .pt-md-3 {
    padding-top: 1.25rem; }
  .pb-md-3 {
    padding-bottom: 1.25rem; }
  .ps-md-3 {
    padding-left: 1.25rem; }
  .pe-md-3 {
    padding-right: 1.25rem; }
  .px-md-3 {
    padding-left: 1.25rem;
    padding-right: 1.25rem; }
  .py-md-3 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; }
  .m-md-3 {
    margin: 1.25rem; }
  .mt-md-3 {
    margin-top: 1.25rem; }
  .mb-md-3 {
    margin-bottom: 1.25rem; }
  .ms-md-3 {
    margin-left: 1.25rem; }
  .me-md-3 {
    margin-right: 1.25rem; }
  .mx-md-3 {
    margin-right: 1.25rem;
    margin-left: 1.25rem; }
  .my-md-3 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem; }
  .p-md-4 {
    padding: 1.5rem; }
  .pt-md-4 {
    padding-top: 1.5rem; }
  .pb-md-4 {
    padding-bottom: 1.5rem; }
  .ps-md-4 {
    padding-left: 1.5rem; }
  .pe-md-4 {
    padding-right: 1.5rem; }
  .px-md-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
  .py-md-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
  .m-md-4 {
    margin: 1.5rem; }
  .mt-md-4 {
    margin-top: 1.5rem; }
  .mb-md-4 {
    margin-bottom: 1.5rem; }
  .ms-md-4 {
    margin-left: 1.5rem; }
  .me-md-4 {
    margin-right: 1.5rem; }
  .mx-md-4 {
    margin-right: 1.5rem;
    margin-left: 1.5rem; }
  .my-md-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  .p-md-5 {
    padding: 1.85rem; }
  .pt-md-5 {
    padding-top: 1.85rem; }
  .pb-md-5 {
    padding-bottom: 1.85rem; }
  .ps-md-5 {
    padding-left: 1.85rem; }
  .pe-md-5 {
    padding-right: 1.85rem; }
  .px-md-5 {
    padding-left: 1.85rem;
    padding-right: 1.85rem; }
  .py-md-5 {
    padding-top: 1.85rem;
    padding-bottom: 1.85rem; }
  .m-md-5 {
    margin: 1.85rem; }
  .mt-md-5 {
    margin-top: 1.85rem; }
  .mb-md-5 {
    margin-bottom: 1.85rem; }
  .ms-md-5 {
    margin-left: 1.85rem; }
  .me-md-5 {
    margin-right: 1.85rem; }
  .mx-md-5 {
    margin-right: 1.85rem;
    margin-left: 1.85rem; }
  .my-md-5 {
    margin-top: 1.85rem;
    margin-bottom: 1.85rem; }
  .p-md-6 {
    padding: 2rem; }
  .pt-md-6 {
    padding-top: 2rem; }
  .pb-md-6 {
    padding-bottom: 2rem; }
  .ps-md-6 {
    padding-left: 2rem; }
  .pe-md-6 {
    padding-right: 2rem; }
  .px-md-6 {
    padding-left: 2rem;
    padding-right: 2rem; }
  .py-md-6 {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .m-md-6 {
    margin: 2rem; }
  .mt-md-6 {
    margin-top: 2rem; }
  .mb-md-6 {
    margin-bottom: 2rem; }
  .ms-md-6 {
    margin-left: 2rem; }
  .me-md-6 {
    margin-right: 2rem; }
  .mx-md-6 {
    margin-right: 2rem;
    margin-left: 2rem; }
  .my-md-6 {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .p-md-7 {
    padding: 2.5rem; }
  .pt-md-7 {
    padding-top: 2.5rem; }
  .pb-md-7 {
    padding-bottom: 2.5rem; }
  .ps-md-7 {
    padding-left: 2.5rem; }
  .pe-md-7 {
    padding-right: 2.5rem; }
  .px-md-7 {
    padding-left: 2.5rem;
    padding-right: 2.5rem; }
  .py-md-7 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; }
  .m-md-7 {
    margin: 2.5rem; }
  .mt-md-7 {
    margin-top: 2.5rem; }
  .mb-md-7 {
    margin-bottom: 2.5rem; }
  .ms-md-7 {
    margin-left: 2.5rem; }
  .me-md-7 {
    margin-right: 2.5rem; }
  .mx-md-7 {
    margin-right: 2.5rem;
    margin-left: 2.5rem; }
  .my-md-7 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem; }
  .p-md-8 {
    padding: 3rem; }
  .pt-md-8 {
    padding-top: 3rem; }
  .pb-md-8 {
    padding-bottom: 3rem; }
  .ps-md-8 {
    padding-left: 3rem; }
  .pe-md-8 {
    padding-right: 3rem; }
  .px-md-8 {
    padding-left: 3rem;
    padding-right: 3rem; }
  .py-md-8 {
    padding-top: 3rem;
    padding-bottom: 3rem; }
  .m-md-8 {
    margin: 3rem; }
  .mt-md-8 {
    margin-top: 3rem; }
  .mb-md-8 {
    margin-bottom: 3rem; }
  .ms-md-8 {
    margin-left: 3rem; }
  .me-md-8 {
    margin-right: 3rem; }
  .mx-md-8 {
    margin-right: 3rem;
    margin-left: 3rem; }
  .my-md-8 {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .p-md-9 {
    padding: 3.15rem; }
  .pt-md-9 {
    padding-top: 3.15rem; }
  .pb-md-9 {
    padding-bottom: 3.15rem; }
  .ps-md-9 {
    padding-left: 3.15rem; }
  .pe-md-9 {
    padding-right: 3.15rem; }
  .px-md-9 {
    padding-left: 3.15rem;
    padding-right: 3.15rem; }
  .py-md-9 {
    padding-top: 3.15rem;
    padding-bottom: 3.15rem; }
  .m-md-9 {
    margin: 3.15rem; }
  .mt-md-9 {
    margin-top: 3.15rem; }
  .mb-md-9 {
    margin-bottom: 3.15rem; }
  .ms-md-9 {
    margin-left: 3.15rem; }
  .me-md-9 {
    margin-right: 3.15rem; }
  .mx-md-9 {
    margin-right: 3.15rem;
    margin-left: 3.15rem; }
  .my-md-9 {
    margin-top: 3.15rem;
    margin-bottom: 3.15rem; }
  .p-md-10 {
    padding: 3.75rem; }
  .pt-md-10 {
    padding-top: 3.75rem; }
  .pb-md-10 {
    padding-bottom: 3.75rem; }
  .ps-md-10 {
    padding-left: 3.75rem; }
  .pe-md-10 {
    padding-right: 3.75rem; }
  .px-md-10 {
    padding-left: 3.75rem;
    padding-right: 3.75rem; }
  .py-md-10 {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem; }
  .m-md-10 {
    margin: 3.75rem; }
  .mt-md-10 {
    margin-top: 3.75rem; }
  .mb-md-10 {
    margin-bottom: 3.75rem; }
  .ms-md-10 {
    margin-left: 3.75rem; }
  .me-md-10 {
    margin-right: 3.75rem; }
  .mx-md-10 {
    margin-right: 3.75rem;
    margin-left: 3.75rem; }
  .my-md-10 {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem; }
  .p-md-11 {
    padding: 3.74rem; }
  .pt-md-11 {
    padding-top: 3.74rem; }
  .pb-md-11 {
    padding-bottom: 3.74rem; }
  .ps-md-11 {
    padding-left: 3.74rem; }
  .pe-md-11 {
    padding-right: 3.74rem; }
  .px-md-11 {
    padding-left: 3.74rem;
    padding-right: 3.74rem; }
  .py-md-11 {
    padding-top: 3.74rem;
    padding-bottom: 3.74rem; }
  .m-md-11 {
    margin: 3.74rem; }
  .mt-md-11 {
    margin-top: 3.74rem; }
  .mb-md-11 {
    margin-bottom: 3.74rem; }
  .ms-md-11 {
    margin-left: 3.74rem; }
  .me-md-11 {
    margin-right: 3.74rem; }
  .mx-md-11 {
    margin-right: 3.74rem;
    margin-left: 3.74rem; }
  .my-md-11 {
    margin-top: 3.74rem;
    margin-bottom: 3.74rem; }
  .p-md-12 {
    padding: 5rem; }
  .pt-md-12 {
    padding-top: 5rem; }
  .pb-md-12 {
    padding-bottom: 5rem; }
  .ps-md-12 {
    padding-left: 5rem; }
  .pe-md-12 {
    padding-right: 5rem; }
  .px-md-12 {
    padding-left: 5rem;
    padding-right: 5rem; }
  .py-md-12 {
    padding-top: 5rem;
    padding-bottom: 5rem; }
  .m-md-12 {
    margin: 5rem; }
  .mt-md-12 {
    margin-top: 5rem; }
  .mb-md-12 {
    margin-bottom: 5rem; }
  .ms-md-12 {
    margin-left: 5rem; }
  .me-md-12 {
    margin-right: 5rem; }
  .mx-md-12 {
    margin-right: 5rem;
    margin-left: 5rem; }
  .my-md-12 {
    margin-top: 5rem;
    margin-bottom: 5rem; }
  .p-md-13 {
    padding: 6rem; }
  .pt-md-13 {
    padding-top: 6rem; }
  .pb-md-13 {
    padding-bottom: 6rem; }
  .ps-md-13 {
    padding-left: 6rem; }
  .pe-md-13 {
    padding-right: 6rem; }
  .px-md-13 {
    padding-left: 6rem;
    padding-right: 6rem; }
  .py-md-13 {
    padding-top: 6rem;
    padding-bottom: 6rem; }
  .m-md-13 {
    margin: 6rem; }
  .mt-md-13 {
    margin-top: 6rem; }
  .mb-md-13 {
    margin-bottom: 6rem; }
  .ms-md-13 {
    margin-left: 6rem; }
  .me-md-13 {
    margin-right: 6rem; }
  .mx-md-13 {
    margin-right: 6rem;
    margin-left: 6rem; }
  .my-md-13 {
    margin-top: 6rem;
    margin-bottom: 6rem; } }

@media (max-width: 414px) {
  .align-items-sm-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .mb-sm-2 {
    margin-bottom: 1rem; }
  .p-sm-0 {
    padding: 0; }
  .pt-sm-0 {
    padding-top: 0; }
  .pb-sm-0 {
    padding-bottom: 0; }
  .ps-sm-0 {
    padding-left: 0; }
  .pe-sm-0 {
    padding-right: 0; }
  .px-sm-0 {
    padding-left: 0;
    padding-right: 0; }
  .py-sm-0 {
    padding-top: 0;
    padding-bottom: 0; }
  .m-sm-0 {
    margin: 0; }
  .mt-sm-0 {
    margin-top: 0; }
  .mb-sm-0 {
    margin-bottom: 0; }
  .ms-sm-0 {
    margin-left: 0; }
  .me-sm-0 {
    margin-right: 0; }
  .mx-sm-0 {
    margin-right: 0;
    margin-left: 0; }
  .my-sm-0 {
    margin-top: 0;
    margin-bottom: 0; }
  .p-sm-1 {
    padding: 0.5rem; }
  .pt-sm-1 {
    padding-top: 0.5rem; }
  .pb-sm-1 {
    padding-bottom: 0.5rem; }
  .ps-sm-1 {
    padding-left: 0.5rem; }
  .pe-sm-1 {
    padding-right: 0.5rem; }
  .px-sm-1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .py-sm-1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .m-sm-1 {
    margin: 0.5rem; }
  .mt-sm-1 {
    margin-top: 0.5rem; }
  .mb-sm-1 {
    margin-bottom: 0.5rem; }
  .ms-sm-1 {
    margin-left: 0.5rem; }
  .me-sm-1 {
    margin-right: 0.5rem; }
  .mx-sm-1 {
    margin-right: 0.5rem;
    margin-left: 0.5rem; }
  .my-sm-1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  .p-sm-2 {
    padding: 1rem; }
  .pt-sm-2 {
    padding-top: 1rem; }
  .pb-sm-2 {
    padding-bottom: 1rem; }
  .ps-sm-2 {
    padding-left: 1rem; }
  .pe-sm-2 {
    padding-right: 1rem; }
  .px-sm-2 {
    padding-left: 1rem;
    padding-right: 1rem; }
  .py-sm-2 {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .m-sm-2 {
    margin: 1rem; }
  .mt-sm-2 {
    margin-top: 1rem; }
  .mb-sm-2 {
    margin-bottom: 1rem; }
  .ms-sm-2 {
    margin-left: 1rem; }
  .me-sm-2 {
    margin-right: 1rem; }
  .mx-sm-2 {
    margin-right: 1rem;
    margin-left: 1rem; }
  .my-sm-2 {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .p-sm-3 {
    padding: 1.25rem; }
  .pt-sm-3 {
    padding-top: 1.25rem; }
  .pb-sm-3 {
    padding-bottom: 1.25rem; }
  .ps-sm-3 {
    padding-left: 1.25rem; }
  .pe-sm-3 {
    padding-right: 1.25rem; }
  .px-sm-3 {
    padding-left: 1.25rem;
    padding-right: 1.25rem; }
  .py-sm-3 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; }
  .m-sm-3 {
    margin: 1.25rem; }
  .mt-sm-3 {
    margin-top: 1.25rem; }
  .mb-sm-3 {
    margin-bottom: 1.25rem; }
  .ms-sm-3 {
    margin-left: 1.25rem; }
  .me-sm-3 {
    margin-right: 1.25rem; }
  .mx-sm-3 {
    margin-right: 1.25rem;
    margin-left: 1.25rem; }
  .my-sm-3 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem; }
  .p-sm-4 {
    padding: 1.5rem; }
  .pt-sm-4 {
    padding-top: 1.5rem; }
  .pb-sm-4 {
    padding-bottom: 1.5rem; }
  .ps-sm-4 {
    padding-left: 1.5rem; }
  .pe-sm-4 {
    padding-right: 1.5rem; }
  .px-sm-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
  .py-sm-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
  .m-sm-4 {
    margin: 1.5rem; }
  .mt-sm-4 {
    margin-top: 1.5rem; }
  .mb-sm-4 {
    margin-bottom: 1.5rem; }
  .ms-sm-4 {
    margin-left: 1.5rem; }
  .me-sm-4 {
    margin-right: 1.5rem; }
  .mx-sm-4 {
    margin-right: 1.5rem;
    margin-left: 1.5rem; }
  .my-sm-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  .p-sm-5 {
    padding: 1.85rem; }
  .pt-sm-5 {
    padding-top: 1.85rem; }
  .pb-sm-5 {
    padding-bottom: 1.85rem; }
  .ps-sm-5 {
    padding-left: 1.85rem; }
  .pe-sm-5 {
    padding-right: 1.85rem; }
  .px-sm-5 {
    padding-left: 1.85rem;
    padding-right: 1.85rem; }
  .py-sm-5 {
    padding-top: 1.85rem;
    padding-bottom: 1.85rem; }
  .m-sm-5 {
    margin: 1.85rem; }
  .mt-sm-5 {
    margin-top: 1.85rem; }
  .mb-sm-5 {
    margin-bottom: 1.85rem; }
  .ms-sm-5 {
    margin-left: 1.85rem; }
  .me-sm-5 {
    margin-right: 1.85rem; }
  .mx-sm-5 {
    margin-right: 1.85rem;
    margin-left: 1.85rem; }
  .my-sm-5 {
    margin-top: 1.85rem;
    margin-bottom: 1.85rem; }
  .p-sm-6 {
    padding: 2rem; }
  .pt-sm-6 {
    padding-top: 2rem; }
  .pb-sm-6 {
    padding-bottom: 2rem; }
  .ps-sm-6 {
    padding-left: 2rem; }
  .pe-sm-6 {
    padding-right: 2rem; }
  .px-sm-6 {
    padding-left: 2rem;
    padding-right: 2rem; }
  .py-sm-6 {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .m-sm-6 {
    margin: 2rem; }
  .mt-sm-6 {
    margin-top: 2rem; }
  .mb-sm-6 {
    margin-bottom: 2rem; }
  .ms-sm-6 {
    margin-left: 2rem; }
  .me-sm-6 {
    margin-right: 2rem; }
  .mx-sm-6 {
    margin-right: 2rem;
    margin-left: 2rem; }
  .my-sm-6 {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .p-sm-7 {
    padding: 2.5rem; }
  .pt-sm-7 {
    padding-top: 2.5rem; }
  .pb-sm-7 {
    padding-bottom: 2.5rem; }
  .ps-sm-7 {
    padding-left: 2.5rem; }
  .pe-sm-7 {
    padding-right: 2.5rem; }
  .px-sm-7 {
    padding-left: 2.5rem;
    padding-right: 2.5rem; }
  .py-sm-7 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; }
  .m-sm-7 {
    margin: 2.5rem; }
  .mt-sm-7 {
    margin-top: 2.5rem; }
  .mb-sm-7 {
    margin-bottom: 2.5rem; }
  .ms-sm-7 {
    margin-left: 2.5rem; }
  .me-sm-7 {
    margin-right: 2.5rem; }
  .mx-sm-7 {
    margin-right: 2.5rem;
    margin-left: 2.5rem; }
  .my-sm-7 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem; }
  .p-sm-8 {
    padding: 3rem; }
  .pt-sm-8 {
    padding-top: 3rem; }
  .pb-sm-8 {
    padding-bottom: 3rem; }
  .ps-sm-8 {
    padding-left: 3rem; }
  .pe-sm-8 {
    padding-right: 3rem; }
  .px-sm-8 {
    padding-left: 3rem;
    padding-right: 3rem; }
  .py-sm-8 {
    padding-top: 3rem;
    padding-bottom: 3rem; }
  .m-sm-8 {
    margin: 3rem; }
  .mt-sm-8 {
    margin-top: 3rem; }
  .mb-sm-8 {
    margin-bottom: 3rem; }
  .ms-sm-8 {
    margin-left: 3rem; }
  .me-sm-8 {
    margin-right: 3rem; }
  .mx-sm-8 {
    margin-right: 3rem;
    margin-left: 3rem; }
  .my-sm-8 {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .p-sm-9 {
    padding: 3.15rem; }
  .pt-sm-9 {
    padding-top: 3.15rem; }
  .pb-sm-9 {
    padding-bottom: 3.15rem; }
  .ps-sm-9 {
    padding-left: 3.15rem; }
  .pe-sm-9 {
    padding-right: 3.15rem; }
  .px-sm-9 {
    padding-left: 3.15rem;
    padding-right: 3.15rem; }
  .py-sm-9 {
    padding-top: 3.15rem;
    padding-bottom: 3.15rem; }
  .m-sm-9 {
    margin: 3.15rem; }
  .mt-sm-9 {
    margin-top: 3.15rem; }
  .mb-sm-9 {
    margin-bottom: 3.15rem; }
  .ms-sm-9 {
    margin-left: 3.15rem; }
  .me-sm-9 {
    margin-right: 3.15rem; }
  .mx-sm-9 {
    margin-right: 3.15rem;
    margin-left: 3.15rem; }
  .my-sm-9 {
    margin-top: 3.15rem;
    margin-bottom: 3.15rem; }
  .p-sm-10 {
    padding: 3.75rem; }
  .pt-sm-10 {
    padding-top: 3.75rem; }
  .pb-sm-10 {
    padding-bottom: 3.75rem; }
  .ps-sm-10 {
    padding-left: 3.75rem; }
  .pe-sm-10 {
    padding-right: 3.75rem; }
  .px-sm-10 {
    padding-left: 3.75rem;
    padding-right: 3.75rem; }
  .py-sm-10 {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem; }
  .m-sm-10 {
    margin: 3.75rem; }
  .mt-sm-10 {
    margin-top: 3.75rem; }
  .mb-sm-10 {
    margin-bottom: 3.75rem; }
  .ms-sm-10 {
    margin-left: 3.75rem; }
  .me-sm-10 {
    margin-right: 3.75rem; }
  .mx-sm-10 {
    margin-right: 3.75rem;
    margin-left: 3.75rem; }
  .my-sm-10 {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem; }
  .p-sm-11 {
    padding: 3.74rem; }
  .pt-sm-11 {
    padding-top: 3.74rem; }
  .pb-sm-11 {
    padding-bottom: 3.74rem; }
  .ps-sm-11 {
    padding-left: 3.74rem; }
  .pe-sm-11 {
    padding-right: 3.74rem; }
  .px-sm-11 {
    padding-left: 3.74rem;
    padding-right: 3.74rem; }
  .py-sm-11 {
    padding-top: 3.74rem;
    padding-bottom: 3.74rem; }
  .m-sm-11 {
    margin: 3.74rem; }
  .mt-sm-11 {
    margin-top: 3.74rem; }
  .mb-sm-11 {
    margin-bottom: 3.74rem; }
  .ms-sm-11 {
    margin-left: 3.74rem; }
  .me-sm-11 {
    margin-right: 3.74rem; }
  .mx-sm-11 {
    margin-right: 3.74rem;
    margin-left: 3.74rem; }
  .my-sm-11 {
    margin-top: 3.74rem;
    margin-bottom: 3.74rem; }
  .p-sm-12 {
    padding: 5rem; }
  .pt-sm-12 {
    padding-top: 5rem; }
  .pb-sm-12 {
    padding-bottom: 5rem; }
  .ps-sm-12 {
    padding-left: 5rem; }
  .pe-sm-12 {
    padding-right: 5rem; }
  .px-sm-12 {
    padding-left: 5rem;
    padding-right: 5rem; }
  .py-sm-12 {
    padding-top: 5rem;
    padding-bottom: 5rem; }
  .m-sm-12 {
    margin: 5rem; }
  .mt-sm-12 {
    margin-top: 5rem; }
  .mb-sm-12 {
    margin-bottom: 5rem; }
  .ms-sm-12 {
    margin-left: 5rem; }
  .me-sm-12 {
    margin-right: 5rem; }
  .mx-sm-12 {
    margin-right: 5rem;
    margin-left: 5rem; }
  .my-sm-12 {
    margin-top: 5rem;
    margin-bottom: 5rem; }
  .p-sm-13 {
    padding: 6rem; }
  .pt-sm-13 {
    padding-top: 6rem; }
  .pb-sm-13 {
    padding-bottom: 6rem; }
  .ps-sm-13 {
    padding-left: 6rem; }
  .pe-sm-13 {
    padding-right: 6rem; }
  .px-sm-13 {
    padding-left: 6rem;
    padding-right: 6rem; }
  .py-sm-13 {
    padding-top: 6rem;
    padding-bottom: 6rem; }
  .m-sm-13 {
    margin: 6rem; }
  .mt-sm-13 {
    margin-top: 6rem; }
  .mb-sm-13 {
    margin-bottom: 6rem; }
  .ms-sm-13 {
    margin-left: 6rem; }
  .me-sm-13 {
    margin-right: 6rem; }
  .mx-sm-13 {
    margin-right: 6rem;
    margin-left: 6rem; }
  .my-sm-13 {
    margin-top: 6rem;
    margin-bottom: 6rem; }
  .d-none {
    display: none; } }

.nav {
  padding: 0 88px; }
  @media (max-width: 768px) {
    .nav {
      padding: 0 39px; } }
  @media (max-width: 414px) {
    .nav {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 0; } }
  .nav .logo {
    padding: 30px 0; }
    @media (max-width: 414px) {
      .nav .logo {
        width: 100%;
        padding: 10px 0; } }
    .nav .logo a {
      margin: 0 auto;
      display: block;
      background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true") no-repeat;
      width: 80px;
      height: 48.75px;
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap; }
  @media (max-width: 414px) {
    .nav__list {
      width: 100%;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .nav__list li:first-of-type a {
    padding-left: 0; }
  .nav__list li:hover a {
    color: #ffc107; }
  @media (max-width: 414px) {
    .nav__list li {
      border: 1px solid #fff;
      width: 50%; }
      .nav__list li:hover {
        background-color: #fff; }
        .nav__list li:hover a {
          color: #650300; } }
  .nav__list li a {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    padding-left: 64px;
    text-align: center; }
    @media (max-width: 768px) {
      .nav__list li a {
        padding-left: 39px; } }
    @media (max-width: 414px) {
      .nav__list li a {
        padding: 8px 0; } }

.footer {
  padding-top: 24px;
  padding-bottom: 39px; }
  @media (max-width: 768px) {
    .footer {
      padding-top: 38px;
      padding-bottom: 32px; } }
  @media (max-width: 414px) {
    .footer {
      padding-top: 24px;
      padding-bottom: 24px; } }
  .footer .info {
    width: 80%; }

.menu {
  margin-bottom: 36px; }
  @media (max-width: 768px) {
    .menu {
      margin-bottom: 22px; } }
  @media (max-width: 414px) {
    .menu {
      display: none; } }
  .menu__item:hover a {
    color: #ffc107; }
  .menu__item a {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    display: block;
    padding-right: 48px;
    padding-top: 5px;
    padding-bottom: 5px; }
    @media (max-width: 768px) {
      .menu__item a {
        padding-right: 40px; } }

.contact img {
  width: 36px;
  height: 36px;
  margin-right: 22px; }
  @media (max-width: 768px) {
    .contact img {
      width: 18px;
      height: 18px;
      margin-right: 11px; } }
  @media (max-width: 414px) {
    .contact img {
      width: 15px;
      height: 15px;
      margin-right: 4px; } }

.contact a {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 36px;
  line-height: 54px; }
  @media (max-width: 768px) {
    .contact a {
      line-height: 30px;
      font-size: 20px; } }
  @media (max-width: 768px) {
    .contact a {
      line-height: 30px;
      font-size: 16px; } }
  .contact a:hover {
    color: #ffc107; }

.socialIcon li {
  margin-left: 32px;
  width: 20%; }
  @media (max-width: 768px) {
    .socialIcon li {
      margin-left: 24px; }
      .socialIcon li:first-of-type {
        margin-left: 0; } }
  .socialIcon li img {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    width: 48px;
    height: 48px; }
    @media (max-width: 768px) {
      .socialIcon li img {
        width: 24px;
        height: 24px; } }
  .socialIcon li:hover img {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2); }

hr {
  margin-top: 24px;
  margin-bottom: 32px; }

@media (max-width: 414px) {
  .copyRight {
    width: 100%;
    font-size: 14px;
    margin-bottom: 8px; } }

.terms li {
  margin-left: 48px; }
  @media (max-width: 768px) {
    .terms li {
      margin-left: 24px; } }
  @media (max-width: 414px) {
    .terms li {
      width: 100%;
      margin-bottom: 8px;
      margin-left: 0; } }

.title {
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 40px; }
  @media (max-width: 768px) {
    .title {
      font-size: 32px;
      line-height: 48px; } }
  @media (max-width: 414px) {
    .title {
      font-size: 24px;
      margin-bottom: 28px; } }

.section-spacing {
  padding-top: 60px;
  padding-bottom: 80px; }
  @media (max-width: 768px) {
    .section-spacing {
      padding-top: 40px;
      padding-bottom: 56px; } }
  @media (max-width: 414px) {
    .section-spacing {
      padding-top: 32px;
      padding-bottom: 40px; } }

.bannerHome {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
  height: 840px; }
  @media (max-width: 768px) {
    .bannerHome {
      background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true); } }
  @media (max-width: 414px) {
    .bannerHome {
      height: 394px; } }
  .bannerHome h2 {
    font-size: 64px;
    line-height: 96px;
    font-weight: bold; }
    @media (max-width: 768px) {
      .bannerHome h2 {
        font-size: 48px;
        line-height: 72px; } }
    @media (max-width: 414px) {
      .bannerHome h2 {
        font-size: 32px; } }
  .bannerHome span {
    font-size: 36px;
    line-height: 54px;
    font-weight: normal; }
    @media (max-width: 768px) {
      .bannerHome span {
        font-size: 20px;
        line-height: 30px; } }
    @media (max-width: 414px) {
      .bannerHome span {
        font-size: 16px; } }

.list__item {
  width: 23%; }
  @media (max-width: 768px) {
    .list__item {
      width: 40%; } }
  @media (max-width: 414px) {
    .list__item {
      width: 100%; } }

.list img {
  width: 83px;
  height: 83px;
  margin: 0 auto; }

.classic {
  position: relative; }
  @media (max-width: 768px) {
    .classic {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .classic__img {
    width: 60%; }
    @media (max-width: 414px) {
      .classic__img {
        width: 100%; } }
  .classic__title {
    width: 33%;
    font-size: 48px;
    line-height: 72px;
    font-style: italic; }
    .classic__title i {
      margin-right: 8px; }
    @media (max-width: 768px) {
      .classic__title {
        font-size: 28px; } }
    @media (max-width: 414px) {
      .classic__title {
        position: absolute;
        left: 50%;
        margin-left: -90px; } }

.bg-design {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true);
  background-size: cover;
  background-position: center center; }

.designArea {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  width: 50%; }
  .designArea:hover::before {
    opacity: 0; }
  @media (max-width: 414px) {
    .designArea {
      width: 100%; } }
  .designArea img {
    width: 540px;
    height: 455px; }
    @media (max-width: 768px) {
      .designArea img {
        width: 330px;
        height: 278px; } }
    @media (max-width: 414px) {
      .designArea img {
        width: 345px;
        height: 291px; } }
  .designArea::before {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: 15px;
    margin-left: 15px;
    content: "";
    background-color: #fff;
    opacity: 0.5; }
  .designArea__text {
    position: absolute;
    font-size: 72px;
    line-height: 108px; }
    @media (max-width: 768px) {
      .designArea__text {
        font-size: 32px;
        line-height: 25px; } }
    .designArea__text--left {
      top: 181px;
      left: 104px; }
      @media (max-width: 768px) {
        .designArea__text--left {
          top: 118px;
          left: 91px; } }
      @media (max-width: 414px) {
        .designArea__text--left {
          top: 125px;
          left: 75px; } }
    .designArea__text--right {
      top: 181px;
      left: 152px; }
      @media (max-width: 768px) {
        .designArea__text--right {
          top: 118px;
          left: 112px; } }
      @media (max-width: 414px) {
        .designArea__text--right {
          top: 130px;
          left: 90px; } }

.card {
  -webkit-box-shadow: 0 2px 6px #00000029;
          box-shadow: 0 2px 6px #00000029;
  margin-right: -15px;
  margin-left: -15px;
  width: 255px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .card:hover {
    -webkit-box-shadow: 8px 8px 6px #00000029;
            box-shadow: 8px 8px 6px #00000029; }
    .card:hover .card__img {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2); }
  @media (max-width: 768px) {
    .card {
      width: 330px; } }
  @media (max-width: 414px) {
    .card {
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }

.card__img {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  width: 255px;
  height: 256px; }
  @media (max-width: 768px) {
    .card__img {
      width: 330px; } }
  @media (max-width: 414px) {
    .card__img {
      width: 345px; } }

.card__body {
  padding: 16px;
  border: 2px solid #DEE2E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 204px; }
  @media (max-width: 768px) {
    .card__body {
      padding: 16px 24px; } }

.card__title {
  line-height: 24px; }

.card__text {
  line-height: 24px; }

.form-container {
  max-width: 730px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto; }
  @media (max-width: 414px) {
    .form-container {
      margin-right: -15px;
      margin-left: -15px; } }

.form__text {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px; }
  @media (max-width: 768px) {
    .form__text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 16px; } }
  @media (max-width: 414px) {
    .form__text {
      margin-bottom: 8px; } }

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px;
  width: 100%; }
  @media (max-width: 768px) {
    .form-group {
      margin-bottom: 8px; } }
  .form-group textarea {
    height: 136px; }
  .form-group .form-control {
    background-color: #AA06010D;
    padding: 10px 16px;
    line-height: 24px;
    border: 1px solid #000; }
    @media (max-width: 768px) {
      .form-group .form-control {
        font-size: 14px; } }
    .form-group .form-control:focus-visible {
      outline: 3px solid rgba(170, 6, 1, 0.7); }

label {
  margin-bottom: 4px;
  line-height: 21px; }
  @media (max-width: 768px) {
    label {
      font-size: 14px;
      margin-bottom: 3px; } }

.btn {
  -webkit-transition: background .5s ease-in-out;
  -o-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
  background-color: #AA0601;
  border: none;
  line-height: 24px;
  padding: 16px 143px;
  margin-top: 40px; }
  @media (max-width: 768px) {
    .btn {
      margin-top: 20px;
      font-size: 14px;
      line-height: 21px;
      padding: 10px 77px; } }
  @media (max-width: 414px) {
    .btn {
      padding: 8px 54px; } }
  .btn:hover {
    background-color: #650300; }

@media (max-width: 414px) {
  .navPorduct {
    margin-right: -15px;
    margin-left: -15px; } }

.navPorduct li {
  width: 370px;
  border: 1px solid #dcdc;
  border-bottom: 8px solid transparent;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  @media (max-width: 768px) {
    .navPorduct li {
      width: 230px;
      height: 60px; } }
  @media (max-width: 414px) {
    .navPorduct li {
      width: 115px;
      height: 30px;
      border-bottom: 4px solid transparent; } }
  .navPorduct li a {
    display: block;
    padding: 27px 0;
    font-size: 32px;
    line-height: 50px; }
    @media (max-width: 768px) {
      .navPorduct li a {
        padding: 12px 0;
        font-size: 24px; } }
    @media (max-width: 414px) {
      .navPorduct li a {
        padding: 6px 0;
        font-size: 14px;
        line-height: 14px; } }
  .navPorduct li:hover {
    border-bottom-color: #AA0601; }

.navPorduct .active {
  border-bottom-color: #AA0601; }

.bannerOptical {
  max-width: 50%;
  -o-object-fit: cover;
     object-fit: cover; }
  .bannerOptical--left {
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week4/banner-1.png?raw=true); }
  .bannerOptical--right {
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week4/banner-2.png?raw=true); }
  @media (max-width: 768px) {
    .bannerOptical {
      height: 304px; } }
  @media (max-width: 414px) {
    .bannerOptical {
      height: 148px; } }

.title {
  font-size: 42px;
  line-height: 63px; }
  .title span {
    font-size: 32px;
    line-height: 48px; }

.productList__item {
  margin-bottom: 104px; }
  @media (max-width: 768px) {
    .productList__item {
      width: 50%;
      padding-right: 15px;
      padding-left: 15px; } }
  @media (max-width: 414px) {
    .productList__item {
      width: 100%;
      padding-right: 0;
      padding-left: 0; } }
  .productList__item img {
    width: 255px;
    height: 164px;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease; }
    @media (max-width: 768px) {
      .productList__item img {
        width: 330px;
        height: 164px; } }
  .productList__item .productList__item__text {
    font-size: 24px;
    line-height: 36px;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease; }
  .productList__item:hover img {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2); }
  .productList__item:hover .productList__item__text {
    color: #ffc107; }

.box {
  width: 24px;
  height: 24px;
  border-radius: 4px; }

.pagination {
  margin-bottom: 160px;
  -moz-text-align-last: left;
       text-align-last: left; }
  @media (max-width: 414px) {
    .pagination {
      margin-right: -15px;
      margin-left: -15px; } }
  .pagination__list {
    border: 1px solid #555555; }
    .pagination__list:hover a,
    .pagination__list.active a {
      color: #fff;
      background-color: #000; }
  .pagination__list--text {
    font-size: 19px;
    line-height: 29px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #555555;
    display: block;
    padding: 13px 12px; }
    @media (max-width: 414px) {
      .pagination__list--text {
        font-size: 17px;
        line-height: 26px;
        padding: 10px 10px;
        letter-spacing: 0px; } }
  .pagination__list--num {
    font-size: 19px;
    line-height: 29px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #555555;
    padding: 13px 17px;
    display: block; }
    @media (max-width: 414px) {
      .pagination__list--num {
        font-size: 16px;
        line-height: 24px;
        padding: 15px 12px;
        letter-spacing: 0px; } }

/*# sourceMappingURL=all.css.map */
