
.container {
  max-width: 1110px;
  // 要加上height 100% 否則flex .align-items-center無作用
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
  @include pad {
    max-width: 690px;
  }
  @include mobile {
    max-width: 345px;
  }
}

.text-end {
  text-align: right;
}


// ! flex
.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}
.justify-content-end {
  justify-content: end;
}
.justify-content-end {
  // 是flex-end不是end
  justify-content: flex-end;
}
.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
  @include mobile {
    flex-wrap: wrap;
  };
}

.flex-row-reverse {
  flex-direction: row-reverse;
}




// position
.position-relative {
  position: relative;
}