// ! color
$primary: #650300;
$secondary: #AA0601;
$success: #AA06010D;
$warning: #ffc107;
$info: #DEE2E6;
$muted: #707070;
$light: #00000029;
$dark: #212529;
$black: #000;
$white: #fff;
$borderColor : #dcdc;
$paginationColor : #555555;
$productColor1: #5F3E2D;
$productColor2: #B75929;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  // "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "muted":       $muted,
  "black":       $black,
  "white":       $white,
  "borderColor": $borderColor,
  "paginationColor": $paginationColor,
  "productColor1": $productColor1,
  "productColor2": $productColor2,
);

// bg color
@each $name, $color in $theme-colors {
  .bg-#{$name} {
    background-color: $color;
  }
}
// text color
@each $name, $color in $theme-colors {
  .text-#{$name} {
    color: $color;
  }
}

//!  fint-size
$font-size-base:              1rem; // Assumes the browser default, typically `16px`

$h1-font-size:                $font-size-base * 4;
$h2-font-size:                $font-size-base * 3;
$h3-font-size:                $font-size-base * 2.25;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
);

@each $num, $fontSize in $font-sizes {
  .h#{$num} {
    font-size: $fontSize;
  }
}

// !spacing
$spacer: 1rem;
$spacers: (
  0: 0, // 0
  1: $spacer * 0.5, //8px
  2: $spacer,  // 16px
  3: $spacer * 1.25,  // 20px
  4: $spacer * 1.5, // 24px
  5: $spacer * 1.85, // 30px
  6: $spacer * 2,  //  32px
  7: $spacer * 2.5,  // 40px
  8: $spacer * 3,  //  48px
  9: $spacer * 3.15,  //  50px
  10: $spacer * 3.75,  // 60px
  11: $spacer * 3.74,  // 64px
  12: $spacer * 5,  //80px
  13: $spacer *6, // 96px
);




// ! line-height
$line-height-base:            1.5;
$line-height-sm:              1.25;
$line-height-lg:              2.25;

$line-heighs: (
  1: $line-height-base,
  2: $line-height-sm,
  3: $line-height-lg,
);

@each $num, $line-height in $line-heighs {
  .lh-#{$num} {
    line-height: $line-height;
  }
}


